/*
container and container-max-width-settings
*/
@media screen and (min-width:768px) and (max-width:1199px){
    .container{
        width:100%;
        padding-left:20px;
        padding-right:20px;
        margin-left:0px;
        margin-right:0px;
    }
}

@media screen and (max-width:800px) {
    .social-header {
        display: none !important;
    }
}

@media screen and (min-width:801px) {
    .social-header {
        display: block !important;
    }
}

@media screen and (min-width:1200px){
    .container{
        width:100%;
        position:relative;
        padding-left:20px;
        padding-right:20px;
        margin-left:0px;
        margin-right:0px;
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*
 * Navbar Settings
 */
.navbar-inverse{
    margin-bottom:0;
    background-color:#363636;
    border:none;
}

.navbar-inverse .navbar-brand{
    height:100px;
    line-height:100px;
}

.navbar>.container .navbar-brand{
    display:table;
}

.navbar>.container .navbar-brand .logo{
    display:table-cell;
    width:200px;
    height:auto;
    background:transparent url('../img/logo-white.png') center no-repeat;
    background-size:contain;
}

.navbar-inverse .navbar-collapse {
    font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.navbar-inverse .navbar-left, .navbar-inverse .navbar-right {
    margin-right: 0px;
    margin-top: 38px;
}

.social-header > p {
    margin-right: 10px;
}

.social-links {
    margin-top: -5px;
}

.social-links > p{
    margin-left: 2px;
    margin-right: 2px;
}

.navbar a, .navbar-inverse .navbar-nav > li > a {
    color: #5764C7;
}

.navbar a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a {
    color: #616ECA;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: inherit;
}

/* map container */
.body-container {
    background: grey;
}
.map-container, .side-menu, .map-controls {
    top: 100px;
}

.map-container {
    position: absolute !important;
    bottom: 0px;
    left: 0px;
    right: 45%;
    z-index: -1;
    margin-right: 40px;
    overflow: hidden;
    transition: right 1s cubic-bezier(0.345, 0, 0.25, 1) 0s;
}

.menu-collapsed .map-container {
    right: 0px;
}

.menu-collapsed .side-menu {
    right: -45%;

}

.menu-collapsed .map-controls {
   right: 0px;
}

/* map controls css */
.map-controls {
    display: block;
    position: absolute;
    bottom: 0px;
    left: auto;
    right: 45%;
    width: 40px;
    z-index: 99;
    height: auto !important;
    background: #a9b0e2;
    transition: right 1s cubic-bezier(0.345, 0, 0.25, 1) 0s;
}

.map-controls .control {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #5764c7;

}

.map-controls .control:hover {
    color: #FFFFFF;
}

/* map side menu */
.side-menu {
    position: absolute;
    width: 45%;
    bottom: 0px;
    right: 0px;
    z-index: 11;
    background: #FFFFFF;
    overflow: hidden;
    transition: right 1s cubic-bezier(0.345, 0, 0.25, 1) 0s;
    font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.side-menu .centered {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-left: 25%;
    padding-right: 25%;
}

.side-menu .side-main {
    background: inherit;
    height: 100%;
    width: 100%;
    margin: 8px 18px 8px 18px;
}

.side-menu .submit {
    position: absolute;
    display: block;
    bottom: 8px;
    left:0px;
    right: 0px;
    top: auto;
    margin: inherit !important;

    text-align: center;
    color: #FFFFFF;
    
    background: grey;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
}

/* light purple background elements */
.map-controls, .map-controls .control {
    background: #A9B0E2;
}

/* dark purple background */
.map-controls .control:hover {
    background: #5764C7;
}

.light {
    color: #A9B0E2;
    opacity: 0.65;
}

abbr.no-border {
    border-bottom: none;
}
