/** dummy code - REMOVE **/
.form-hidden {
    background-color: rgba(255,100,100,0.2);
    display: none;
}


/*
container and container-max-width-settings
*/
@media screen and (min-width:768px) and (max-width:1199px){
    .container{
        width:100%;
        padding-left:20px;
        padding-right:20px;
        margin-left:0px;
        margin-right:0px;
    }
}

@media screen and (max-width:800px) {
    .social-header {
        display: none !important;
    }
}

@media screen and (min-width:801px) {
    .social-header {
        display: block !important;
    }
}

@media screen and (min-width:1200px){
    .container{
        width:100%;

        position:relative;
        padding-left:20px;
        padding-right:20px;
        margin-left:0px;
        margin-right:0px;
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*
 * Navbar Settings
 */
.navbar-inverse{
    margin-bottom:0;
    background-color:#363636;
    border:none;
}

.navbar-inverse .navbar-brand{
    height:85px;
    line-height:85px;
}

.navbar>.container .navbar-brand{
    display:table;
}

.navbar>.container .navbar-brand .logo{
    display:table-cell;
    width:200px;
    height:auto;
    background:transparent url('../img/logo-white.png') center no-repeat;
    background-size:contain;
}

.navbar-inverse .navbar-collapse {
    font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.navbar-inverse .navbar-left, .navbar-inverse .navbar-right {
    margin-right: 0px;
    margin-top: 25px;
}


.social-header > p {
    margin-right: 10px;
}

.social-links {
    margin-top: -5px;
}

.social-links > p{
    margin-left: 2px;
    margin-right: 2px;
}

.navbar a, .navbar-inverse .navbar-nav > li > a {
    color: #5764C7;
}

.navbar a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a {
    color: #616ECA;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: inherit;
}

/* map container */
.body-container {
    background: grey;
}
.map-container, .side-menu, .map-controls {
    top: 85px;
}

.map-container {
    position: absolute !important;
    bottom: 0px;
    left: 0px;
    right: 540px;
    z-index: -1;
    margin-right: 32px;
    overflow: hidden;
    transition: right 1s cubic-bezier(0.345, 0, 0.25, 1) 0s;
}

.menu-collapsed .map-container {
    right: 0px;
}

.menu-collapsed .side-menu {
    right: -540px;

}

.menu-collapsed .map-controls {
   right: 0px;
}

/* map controls css */
.map-controls {
    display: block;
    position: absolute;
    bottom: 0px;
    left: auto;
    right: 540px;
    width: 32px;
    z-index: 99;
    height: auto !important;
    background: #a9b0e2;
    box-shadow: -5px 0px 0px 0px rgba(0,0,0,0.2);
    transition: right 1s cubic-bezier(0.345, 0, 0.25, 1) 0s;
}

.map-controls .control {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #5764c7;


}

.map-controls .control:hover {
    color: #FFFFFF;
}

/* map side menu */
.side-menu {
    position: absolute;
    width: 540px;
    bottom: 0px;
    right: 0px;
    z-index: 11;
    background: #FFFFFF;
    overflow: hidden;
    transition: right 1s cubic-bezier(0.345, 0, 0.25, 1) 0s;
    font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.side-menu .centered {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-left: 25%;
    padding-right: 25%;
}

.side-menu .side-main {
    background: inherit;
    height: 100%;
    width: 100%;
}


/* light purple background elements */
.map-controls, .map-controls .control {
    background: #A9B0E2;
}

/* dark purple background */
.map-controls .control:hover {
    background: #5764C7;
}

.light {
    color: #A9B0E2;
    opacity: 0.65;
}

abbr.no-border {
    border-bottom: none;
}

/** testing code ***/
.side-info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
}
.side-main .top {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-bottom: 50px;
    width: 100%;
    overflow: hidden;
}

.side-main .top .header {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
}

.side-main .top .marker-address {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

}

.side-main .top .content {
    position: absolute;
    top: 80px;
    bottom: 0px;
    width: 100%;
    
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: none;
    overflow-y: auto;
}

/** bottom side menu **/
.side-menu .bottom {
    position: absolute;
    display: block;
    bottom: 0px;
    left:0px;
    right: 0px;
    height: 45px;
    margin-top: 5px;
    margin: inherit !important;
    
    box-shadow: 0px -5px 0px 0px rgba(255,200,100, 0.7);
    text-align: center;
    color: #FFFFFF;
}

.side-menu .bottom > .btn {
    margin: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    background-color: transparent;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: orange;
}
/** search / reset buttons **/
.header > .btn-group > .btn-group > .btn {
    border-radius: 0px;
    background: orange;
    border: 5px solid #ffffff;
    font-weight: 600;
}

.header > .btn-group > .btn-group > .btn:hover {
    background: grey;
}


/** prev / delete /next **/
.form-section > .btn-group > .btn-group > .btn {
    border-radius: 0px !important;
    border: 5px solid white;
    font-size: 14px;
    line-height: 1.42857;
    color: #000000;
}

.form-section > .btn-group > .btn-group > .btn:focus {
    background-color: inherit;
}

.btn-next:hover, .btn-prev:hover {
    background-color: #A3A3A3;
    border-color: #FFFFFF;
    font-weight: 600;
    
}

.btn-delete:hover {
    background-color: #D9534F !important;
    border-color: #FFFFFF;
    color: #FFFFFF !important;
    font-weight: 600;
}

.form-section > .btn-group > .btn-group > .disabled {
    color: #666666;
}

/** form css **/
.form-section {
    padding-bottom: 12px;
}

.form-btn-group {
    background-color: #FFFFFF;
    padding-bottom: 4px;
    margin-left: -10px;
    margin-right: -10px;
}
.section-title {
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 6px;
    margin-right: 5px;
    text-align: justify;
}

.section-centered {
    text-align: center;
}
/** path css **/

.btn-path {
    display: inline-block;
    width: 28%;
    height: auto;
    position: relative;
    white-space: normal;
    margin-left: 6px;
    margin-right: 6px;
    border-width: 2px;
    background-color: rgba(255,255,255,0.75);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.btn-path-label {
    display: block;
    float: left;
    font-weight: 500;
}


/** path type buttons **/
.path-road {
    border-color: #404040;
    
}

.path-bike {
    border-color: #FFCC66;
}

.path-cycleway {
    border-color: #33CC33;
}

.path-foot {
    border-color: #99CCFF;
}

.path-shared-foot {
    border-color: #3366FF;
}

.path-null {
    border-color: #808080;
}
.btn-path > .pull-right {
    margin-top: 3px;
    visibility: hidden;
    opacity: 0.5;
}

/** slider css **/
.section {
    margin-top: 2px;
    padding-bottom: 35px;
    margin-bottom: 4px;
    margin-right: 0px;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.section:hover {
    background-color: #FFEE88;
}

.section-reverse {
    margin-top: 12px;
    margin-bottom: 2px;
}

.section-reverse > .h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.section abbr {
    margin-left: 10px;
}
.section span.h4 {
    display: inline-block;
    margin-top: 0px;
    font-weight: 800;
    font-size: 14px;
}

.slider-options {
    margin-left: 10px;
    width: 60%;
    float: left !important;
}

.noUi-connect {
    background: #FFCC66 !important;
}

/** slider info divs **/
.rate-info {
    text-align: justify;
    padding-left: 10px;
    padding-right: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.rate-label:hover + .rate-info {
    height: 60px;
}

.rate-value {
    display: inline-block;
    float: right !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.12;
    margin-right: 60px;
}


/** multiselect css **/
.checkbox > label {
    font-size: 18px;
}

.checkbox > label > input {
    vertical-align: bottom;
    margin-top: 7px;
}

/** comments css **/
.section-comment {
    margin-top: 12px;
    margin-bottom: 30px;
}

