body {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 450;

}

.map-hint {
    position: absolute;
    bottom: 12%;
    height: auto;
    width: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
    opacity: 0.8;
}

.map-hint>.content {
    font-size: 18px;
    background: white;
    visibility: visible;
}

.mobile-navbar {
    position: absolute;
    top: 0px;
    height: 8%;
    width: 100%;
    overflow: hidden;
    color: white;

    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: orange;
}
.nav-left {
    float: left !important;
    font-size: 32px;
    font-size: 6vh;
}
.nav-right {
    float: right !important;
}

.map-container {
    position: absolute;
    top: 8%;
    bottom: 8%;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.submit-btn {
    position: absolute;
    bottom: 0px;
    height: 8%;
    width: 100%;
    overflow: hidden;
    color: white;

}

.submit-btn>button {
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-size: 6vh;
    letter-spacing: 8px;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
}

.tab-marker {
    position: absolute;
    height: auto;
    right: 0px;
    width: 80px;
    z-index: 99;
    background: #363636;
    display: none;
    
}

.tab-marker>div {
    display: table;
    border-collapse: seperate;
    border-spacing: 10px;
}

.tab-marker>div>div {
    vertical-align: middle;
    display: table-row;
}

.tab-marker>div>div>div {
    display: table-cell;
    width: 60px;
    height: 60px;
}

.tab-dismiss {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    display: none;
}

.tab-disable-map {
    z-index: 98;
    position: absolute;
    height: auto;
    width: 100%;
    background: black;
    opacity: 0.2;
    display: none;
}

/** nav boundries **/
.map-container, .tab-horo-fill {
    top: 40px;
}

.mobile-navbar {
    height: 40px;
}


/** bottum boundries **/

.map-container, .tab-horo-fill {
    bottom: 40px;
}

.submit-btn {
    height: 40px;
}

/** dark background **/
.submit-btn, .mobile-navbar {
    background-color: #363636;
}
