/** hide internal form elements **/
.form-hidden {
    background-color: rgba(255,100,100,0.2);
    display: none;
}

/*
container and container-max-width-settings
*/
@media screen and (min-width:768px) and (max-width:1199px){
}

@media screen and (max-width:1000px) {
    #header .main-menu .menu .long {
        display: none !important;
    }
    #header .main-menu .menu .nav-icon {
        display: block !important;
    }

}

@media screen and (min-width:1001px) {
    #header .main-menu .menu .long {
        display: block !important;
    }
    #header .main-menu .menu .nav-icon {
        display: none !important;
    }
}

@media screen and (min-width:1200px){
}

@media screen and (min-height:900px) {
    .side-search {
        height: 762px !important;
        bottom: auto !important;
    }
    .side-menu, .options {
        height: 775px !important;
        bottom: auto !important;
    }
}

body {
    font-family: 'Didact Gothic', Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: hidden;
}

/** gear icon **/
.gear {
    background: transparent url('../img/veloscape-gear-white-border.png') center no-repeat;
    background-size: contain;
}

/*
 * Navbar Settings
 */

#header {
    background: rgba(255,255,255, 0.75);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    overflow: visible;
    font-family: 'Montserrat', Arial, sans-serif;
    z-index: 9999;
    -moz-box-shadow: 0px -2px 8px 5px rgba(255,255,255,0.6);
    -webkit-box-shadow: 0px -2px 8px 5px rgba(255,255,255,0.6);
    box-shadow: 0px -2px 8px 5px rgba(255,255,255,0.6);

}

#header .logo {
    margin: 17px 0px;
    min-width: 100px;
    float: left;
    padding: 0px 36px;
}

#header .logo a {
    display: block;
    font-size: 28px;
    text-transform: uppercase;
    border: 0px none;
    color: #333;
    line-height: 1;
}

#header .logo a .gear {
    position: absolute;
    top: -12px;
    left: 36px;
    width: 44px;
    height: 100px;
}

#header .logo a img {
    vertical-align: baseline !important;
    padding-left: 48px;
}

.main-menu {
    float: right;
    margin: 0px 0px 0px 0px;
    z-index: 999;
    font-size: 14px;
}

.main-menu ul {
    text-align: center;
    overflow: visible;
    background: #FFFFFF;
    list-style-type: none;
    list-style-position: inside;
}

.main-menu ul li {
    line-height: 62px;
    height: 62px;
    float: left;
    min-width: 60px;
    margin: 0px 1.4em;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.main-menu ul li button {
    color: inherit;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    background-color: rgba(255,255,255,0);
    border: 0px none;
    text-decoration: none;
}

.main-menu .nav-icon {
    font-size: 20px;
}

/** option-btn hovers **/
.menu .menu-btn:hover {
    background-color: #64b5f6 !important;
    color: #FFFFFF !important;
}

.submit-active .menu .btn-search:hover,
.submit-active .menu .btn-reset:hover {
    background-color: #BDBDBD !important;
    color: #FFFFFF !important;
}

/* map container */
.body-container {
    background: grey;
    position: absolute !important;
    top: 62px;
    bottom: 0px;
    width: 100%;
}

.map-container {
    position: absolute !important;
    width: 100%;
    top: -62px;
    bottom: 0px;

    overflow: hidden;
    z-index: 1;
}


/** side-header **/
.side-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: rgba(33,135,243,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
.side-header .gear {
    position: absolute;
    top: -4px;
    left: 10px;
    height: 60px;
    width: 45px;
}

.side-header .header-address {
    display: inline-block;
    margin-left: 53px;
    width: 285px;

}

.side-header .header-address h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 14px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.side-header .btn-header-group {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

.side-header .btn-header-group .btn-header {
    height: 40px;
    width: 40px;
    margin-left: 0px;
    padding: 0px;
    border-radius: 20px;

    text-align: center;
    font-size: 20px;
    line-height: 32px;
}

.side-header .btn-header-group .btn:active {
    color: #e3f2fd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.side-header .btn-header-group .btn:hover {
    color: #e3f2fd;
    opacity: 0.8;
}

.side-header .tooltip {
    white-space: nowrap;
    font-size: 16px;
}


/** side-header-hide-conditions **/
.body-container.submit-active .side-header, 
.body-container.info .side-header,
.body-container.search .side-header {
    visibility: hidden !important;
}

.body-container.search > .side-search > .search-main > .side-header,
.body-container.submit-active .side-confirm > .confirm-main .side-header {
    visibility: visible !important;
}


/* map side menu */
.side-menu {
    position: absolute;
    width: 480px;
    top: 30px;
    bottom: 30px;
    right: 20px;
    z-index: 600;
    background: transparent;
    font-weight: 600;
}

.side-menu .side-main {
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: visible;
    z-index: 1;
    border: 3px solid rgba(33,135,243,1);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}


/** hints? **/
abbr.no-border {
    border-bottom: none;
}

/** side block code ***/
.side-info {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 0px;
    width: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    border-radius: 10px;
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-info .title, .side-info .title small {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #2979ff;
}

.side-info .title small {
    opacity: 0.55;
    font-weight: 600;
    font-size: 70%;
}

.side-info .section.last {
    margin-top: 20px;
}

.side-info .centered {
    text-align: center;
    margin-bottom: 10px;
}

.side-info .centered #bordered {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #333;
    border-radius: 4px;
}

/** form-content **/
.side-main .inner .form-content {
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding-right: 6px;
    margin-bottom: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-main .inner .form-content .gear {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 60px;
}


/** side inner **/
.side-main .inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
}

/** confirm css **/
.side-confirm {
    position: absolute;
    z-index: 650;
    top: 30px;
    bottom: 30px;
    right: 20px;
    width: 480px;
    background-color: transparent;
    font-weight: 500;
    overflow: hidden;
    display: none;
}

.confirm-main {
    background: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(33,135,243,1);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    
}

.side-confirm .inner {
    position: absolute;
    z-index: 800;
    top: 50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: auto;
}

.side-confirm .inputs {
    display: block;
}

.side-confirm .thanks {
    color: #2979ff;
    display: none;
    text-align: center;
}

.map-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 200;
}

.side-confirm small {
    color: inherit;
}

.side-confirm .body-overflow {
    position: absolute;
    top: 5px;
    left: 15px;
    right: 15px;
    bottom: 55px;
    padding-left: 10px;
    padding-right: 20px;
    overflow-y: auto;
}

.side-confirm .body-overflow h3 {
    margin-top: 0px !important;
}

.side-confirm sup {
    top: -0.2em;
    padding-left: 2px;
}

.side-confirm .body-overflow .form-control {
    margin-bottom: 4px;
}

.side-confirm .warning-show .form-control, .side-confirm .required-show .form-control {
    border-color: #DD4B39;
    box-shadow: 0px 0px 8px rgba(220, 75, 60, 0.6);
}

.side-confirm .warning, .side-confirm .required {
    font-size: 16px;
    padding-left: 6px;
    color: #DD4B39; /** red **/
    display: none;
}

.side-confirm .warning-show .warning {
    display: block;
}

.side-confirm .required-show .required {
    display: block;
}

.side-confirm .spacer {
    margin-bottom: 20px;
}

.side-confirm .thanks .btn-thanks {
    width: 80%;
    color: #FFFFFF !important;
    font-weight: 700;
    margin-top: 20px;
}

/** search css **/
.side-search {
    position: absolute;
    display: none;
    z-index: 800;
    top: 30px;
    right: 20px;
    bottom: 30px;
    width: 480px;
    border-radius: 10px;
    height: auto;
    background-color: #FFFFFF;
}

.side-search .search-main {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #2186F3;
}

.side-search .side-header,
.side-confirm .side-header {
    padding-left: 20px;
}

.side-search .side-header h3,
.side-confirm .side-header h3 {
    margin-top: 14px;
    font-weight: 700;
}

.side-search .inner {
    position: absolute;
    z-index: 800;
    top: 50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: auto;
}

.side-search .inner .search-body {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
}


.search-body > .form-control {
    display: inline-block;
    width: 450px;
    font-size: 18px;
    height: 100%;
}

.pac-container {
    margin-top: 5px;
}
.pac-container:after {
    display: none;
}

.pac-item {
    height: 50px;
    padding-left: 14px;
    padding-right: 4px;
    font-size: 14px;
    padding-top: 12px;
}

.pac-item-query {
    font-size: 18px;
}

.pac-icon {
    display: none;
}

/** bottom panel buttons **/
.panel-btn-bottom {
    position: absolute;
    bottom: 0px;
    height: 50px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 850;
}

.panel-btn-bottom .btn {
    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color: #FFFFFF;
    font-weight: 700;
}

.btn-positive {
    background-color: #2196f3;
    text-transform: uppercase;
}
.btn-negative {
    background-color: #f06292; 
    text-transform: uppercase;
}



/** form css **/
.form-section {
    padding-bottom: 12px;
}

.form-btn-group {
    background-color: #FFFFFF;
    padding-bottom: 4px;
    margin-left: -10px;
    margin-right: -10px;
}
.section-title {
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 6px;
    margin-right: 5px;
    text-align: justify;
}

.form-section .blue,
.section-reverse .blue {
    font-size: 20px;
    font-weight: 600;
    color: #2196F3;
}

.section-centered {
    text-align: center;
}
/** path css **/

.btn-path {
    display: inline-block;
    width: 45%;
    height: auto;
    position: relative;
    white-space: normal;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    border-color: #2196f3;
    background-color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.btn-path:hover {
    border-color: #f06292 !important;
    background-color: #f06292; /** 300 **/
}
.btn-path:hover > .btn-path-label {
    color: #FFFFFF;
}

.btn-path:active {
    background-color: #f06292;
    border-color: #f06292 !important;
}

.btn-path.active {
    background-color: #f06292 !important;
    border-color: #f06292 !important;
}

.btn-path:active > .btn-path-label,
.btn-path.active > .btn-path-label {
    color: #FFFFFF;
}


.btn-path-label {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

/** slider css **/
.section {
    margin-top: 2px;
    padding-top: 3px;
    padding-bottom: 12px;
    margin-bottom: 4px;
    margin-right: 0px;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.section:hover {
    background-color: inherit;
}

.section-reverse {
    margin-top: 12px;
    margin-bottom: 2px;
}

.section-reverse > .h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.section abbr {
    margin-left: 10px;
}
.section span.h4 {
    display: inline-block;
    margin-top: 0px;
    font-weight: 800;
    font-size: 14px;
}

.slider-options {
    margin-left: 10px;
    width: 40%;
    float: left !important;
}


/** slider info divs **/
.noUi-connect {
    background: #f06292 !important;
}

.rate-info {
    text-align: justify;
    padding-left: 10px;
    padding-right: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.rate-label:hover + .rate-info.info-safety {
    height: 60px;
}
.rate-label:hover + .rate-info.info-momentum {
    height: 80px;
}
.rate-label:hover + .rate-info.info-enjoyment {
    height: 80px;
}

.rate-value {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.12;
    margin-left: 60px;
    max-width: 40%;
}


/** multiselect css **/
.checkbox > label {
    font-size: 18px;
}

.checkbox > label > input {
    vertical-align: bottom;
    margin-top: 7px;
}

/** comments css **/
.section-comment {
    margin-top: 12px;
    margin-bottom: 30px;
}

.comments {
    padding-left: 4px;
    padding-right: 4px;
    resize: vertical;
    margin-top: 6px;
    min-height: 120px;
    min-width: 400px;
}

.comments:focus {
    border-color: #64b5f6;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

/** help css **/
.help {
    position: absolute;
    display: none;
    z-index: 800;
    top: 10px;
    bottom: 10px;
    left: 0px;
    right: 0px;
}

.help .help-container {
    position: relative;
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(50,50,50,0.9);
    border-radius: 10px;
    color: #FFFFFF;

}

.help .inner {
    position: absolute;
    top: 0px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.help .img-container {
    width: 600px;
    margin: auto;
}

.help .img-container.center {
    text-align: center;
    width: 400px;
}

.help .dismiss-help {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 20px;
}
